html {
  font-size: 100%;
}

body {
  color: #707070;
  font-family: Segoe Print;
  letter-spacing: 0.1em;
  margin: 0;
}

h3, p {
  font-family: sans-serif;
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  h3, p {
    font-size: 1rem;
  }
}

a {
  color: #707070;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
}

.more {
  display: block;
  text-align: center;
  margin-bottom: 22%;
}

.more .btn {
  border: solid 1px #707070;
  padding: 34px 92px 20px 22px;
  position: relative;
}

.more .btn:hover::after, .more .btn:hover::before {
  right: -21px;
}

.more .btn::before, .more .btn::after {
  content: "";
  position: absolute;
  top: 42px;
  right: -7px;
  height: 1px;
  background-color: #707070;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.more .btn::before {
  width: 60px;
  -webkit-transform: translate(30px, 0px);
          transform: translate(30px, 0px);
}

.more .btn::after {
  width: 15px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translate(30px, 0px) rotate(25deg);
          transform: translate(30px, 0px) rotate(25deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .site-title {
    width: 30%;
  }
}

.section-title {
  font-size: 3rem;
  margin-bottom: 22%;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: "";
  width: 10%;
  height: 3px;
  background-color: #707070;
  display: block;
  position: absolute;
  bottom: -4%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.0rem;
  }
}

.bg-pg {
  background: url(../img/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
  -webkit-box-shadow: inset 0px 0px 20px 20px #fff;
  box-shadow: inset 0px 0px 20px 20px #fff;
}

.main-title {
  display: block;
  opacity: 0;
  font-size: 6rem;
  text-align: center;
  padding-top: 22%;
}

@media screen and (max-width: 767px) {
  .main-title {
    font-size: 4rem;
  }
}

.main-title span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.hamburger {
  width: 30%;
  height: 30%;
  position: fixed;
  top: 4%;
  right: -12%;
  z-index: 30;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger span {
  width: 10%;
  height: 1%;
  background-color: #707070;
  position: absolute;
  left: 25%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .hamburger span {
    width: 15%;
  }
}

.hamburger span:nth-child(1) {
  top: 20%;
}

.hamburger span:nth-child(2) {
  top: 28%;
}

.hamburger span:nth-child(3) {
  top: 36%;
}

.hamburger.active span:nth-child(1) {
  top: 47px;
  left: 25%;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2), .hamburger.active span:nth-child(3) {
  top: 47px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navi {
  width: 100%;
  height: 100vh;
  background-color: #707070;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 0.6s ease,visibility 0.6s ease;
  transition: opacity 0.6s ease,visibility 0.6s ease;
  visibility: hidden;
}

#navi .logo {
  position: absolute;
  top: 40px;
  left: 50px;
}

@media screen and (max-width: 767px) {
  #navi .logo {
    width: 30%;
  }
}

#navi .menu {
  margin: 120px 0 40px;
}

#navi .menu a {
  margin-bottom: 40px;
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

#navi .menu a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -4PX;
  left: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#navi .menu a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#navi .menu a {
  color: #fff;
}

#navi.active {
  opacity: 1;
  visibility: visible;
}

#about img {
  display: block;
  margin: 0 auto 120px;
}

#about .about-text {
  text-align: center;
  line-height: 3;
}

#about .about-text p:nth-child(4) {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  #about .about-text {
    text-align: left;
  }
}

.fade-in {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  opacity: 0;
}

.icon img {
  width: 80px;
  margin-right: 80px;
}

.text {
  width: 100%;
}

.text p {
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .text p {
    font-size: 0.75rem;
  }
}

.fade-in-right {
  -webkit-transform: translate(400px, 0);
          transform: translate(400px, 0);
}

.scroll-in {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.works-box {
  display: -ms-grid;
  display: grid;
  gap: 100px;
  -ms-grid-columns: (min-max(480px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, min-max(480px, 1fr));
  margin-bottom: 8%;
}

.works-item {
  text-align: center;
  margin-bottom: 10%;
  overflow: hidden;
}

.works-item img {
  -webkit-transition: 1s all;
  transition: 1s all;
}

.works-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s all;
  transition: 1s all;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

.footer-box .site-title img {
  display: block;
  padding-top: 42%;
}

@media screen and (max-width: 767px) {
  .footer-box .site-title img {
    padding-top: 30%;
  }
}

.footer-box .menu {
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  .footer-box .menu {
    font-size: 1rem;
  }
}

footer p {
  text-align: center;
  font-size: .9rem;
}
/*# sourceMappingURL=main.css.map */