@charset "UTF-8";

$maincolor:#707070;
$mainfontfamily:Segoe Print;



    //Works
    .bg-pg{
        background: url(../img/mainvisual.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
       
        }
        
#header {
    .site-title {
        position: absolute;
        top: 40px;
        left: 50px;
    }
}
#works {
    padding-top: 180px;
}

 
.works-item {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 80px;

      a {
         width: 60%;
         overflow: hidden;
         transition: 1s all;
         &:hover {
             transform: scale(1.1);
             transition: 1s all;
         }
    }
    .works-text{
        width: 35%;
        h3{
            text-align: center;
            margin-bottom: 60px;
        }
        p {
            font-size: 0.9rem;
            margin-bottom: 10px;
            text-align: left;
        }
        .url {
            font-weight: bold;
            margin-bottom: 20px;
        }
        .skills {
            display: block;
            font-weight: bold;
            
           
        }
    }
}
//Worksここまで


